<%- include('header') %>
   <!-- styling in rentals.css -->
   <div class="confirm-rental-container">
      <table>
         <tr>
            <td>
               <p class="label">Mode : </p>
            </td>
            <td>
               <p>
                  <%=modeData.type%>
               </p>
            </td>
         </tr>

         <tr>
            <td>
               <p class="label">Name : </p>
            </td>
            <td>
               <p>
                  <%=modeData.dateOfBooking%>
               </p>
            </td>
         </tr>

         <tr>
            <td>
               <p class="label">From : </p>
            </td>
            <td>
               <p>
                  <%=modeData.source%>
               </p>
            </td>
         </tr>

         <tr>
            <td>
               <p class="label">To : </p>
            </td>
            <td>
               <p>
                  <%=modeData.destination%>
               </p>
            </td>
         </tr>

         <tr>
            <td>
               <p class="label">Number of Passenger(s) : </p>
            </td>
            <td>
               <p>
                  <%=modeData.numberOfPerson%>
               </p>
            </td>
         </tr>


         <tr>
            <td>
               <p class="label">Select : </p>
            </td>
            <td>
               <select class="form-select" aria-label="Default select example" name="destination">
                  <option selected>CATEGORY</option>
                  <%if(modeData.type=="Train"){%>
                     <option value="sleepr">Sleeper Class</option>
                     <option value="3Tier">AC 3 Tier</option>
                     <option value="2Tier">AC 2 Tier</option>
                     <option value="1Tier">AC 1 Tier</option>
                     <%}%>

                        <%if(modeData.type=="Car" ){%>
                           <option value="mini">Mini</option>
                           <option value="primeSedan">Prime Sedan</option>
                           <option value="primePlay">Prime Play</option>
                           <option value="primeSUV">Prime SUV</option>
                           <%}%>

                              <%if(modeData.type=="Flight" ){%>
                                 <option value="business">Business</option>
                                 <option value="economy">Economy</option>
                                 <%}%>
               </select>
            </td>
         </tr>

         <tr>
            <td colspan="2" class="d-grid align-center">
               <button class="btn btn-outline-primary confirm-booking"
                  style="margin-left: 130px; margin-top: 20px;">BOOK NOW</button>
            </td>
         </tr>
      </table>
   </div>


   <div class="success-booking-modal modal">
      <div class="modal-content">
         <h1>SUCCESS</h1>
         <i class="fas fa-check-circle success-symbol"></i>
      </div>
   </div>
   <%- include('footer') %>